*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  color: $text-color;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  color: $heading-color;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-box {
  max-width: 1024px;
  margin: 0 auto;
}
