.home {
  width: 100%;

  .hero {
    &-gallery {
      margin-bottom: 40px;
      padding: 0 16px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 35vh 35vh;
      gap: 24px;

      @media (max-width: 600px) {
        display: block;
      }

      &-tile:first-of-type {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }

      &-tile:nth-of-type(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        @media (max-width: 600px) {
          display: none;
        }
      }

      &-tile:nth-of-type(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        @media (max-width: 600px) {
          display: none;
        }
      }

      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-text {
      max-width: 55%;
      margin: 0 auto 48px;
      text-align: center;

      h2 {
        margin-bottom: 20px;
        font-size: 2.4rem;
      }

      p {
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 4.8rem;
      }
    }
  }
}
