.product {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  &-img {
    flex-basis: 30%;
  }

  &-content {
    flex-basis: 50%;

    h2 {
      margin-bottom: 12px;
    }

    .price {
      margin-bottom: 18px;
      font-size: 2.4rem;
    }

    .stars {
      margin-bottom: 16px;
    }

    .description {
      margin-bottom: 40px;
    }
  }

  &-buttons {
    display: flex;
    gap: 20px;

    .product-btn {
      width: 18rem;
      border: 1px solid black;
      padding: 14px;
      text-align: center;
      font-family: "Roboto";
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
    }

    .to-cart-btn {
      background-color: black;

      color: white;

      &:hover {
        box-shadow: 2px 2px 2px 0 #a0a0a0;
      }

      &:active {
        box-shadow: inset 2px 2px 2px 0 #a0a0a0;
        background-color: $heading-color;
      }
    }

    .to-wish-btn {
      color: $heading-color;

      &:hover {
        box-shadow: 2px 2px 2px 0 #a0a0a0;
      }

      &:active {
        box-shadow: inset 2px 2px 2px 0 #a0a0a0;
        background-color: darken(white, 8%);
      }
    }
  }
}
