.shop {
  border-top: 1px solid $very-light-grey;
  padding: 120px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  &-item {
    display: block;
    max-width: 210px;
    padding: 30px;
    text-align: center;

    &-img {
      margin-bottom: 40px;
    }
  }
}
